* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    box-sizing: border-box;
}

#header-1 {
    position: relative;
    width: 1440px;
    height: 715px;
    border: 1px solid rgba(255, 251, 240, 1);
    background: rgba(255, 251, 240, 1);
    margin: 0 auto;
    margin-top: 5px;
}

/* image */
.png {
    position: absolute;
    width: 291.10638427734375px;
    height: 39.266448974609375px;
    top: 39px;
    left: 135px;
}

/* heading */
.pg {
    position: absolute;
    width: 416px;
    height: 192px;
    top: 180px;
    left: 135px;
}

.pg h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: 0;
    margin: 0;
    color: rgba(250, 190, 76, 1);
}

.pg span {
    color: rgba(62, 62, 62, 1);
}

/*navigation buttons section*/
.navigations {
    position: absolute;
    top: 47px;
    left: 889px;
    display: flex;
    gap: 2rem;
    opacity: 1;
    z-index: 100;
}

.nav-btn {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(60, 60, 60, 1);
}

/*lorem paragraph*/
.parg1 {
    position: absolute;
    width: 357px;
    height: 52px;
    top: 364px;
    left: 139px;
    opacity: 1;
}

.parg1 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    color: rgba(62, 62, 62, 1);
}

/*Buy button*/
.buybtn-container {
    position: absolute;
    width: 170px;
    height: 60px;
    top: 424px;
    left: 135px;
    opacity: 1;
    border-radius: 10px;
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
}

.buy-btn {
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    margin-left: 20px;
    padding: 17px 25px;
}

/*shopping-tray image*/
.shp-btn {
    position: absolute;
    width: 19.36490821838379px;
    height: 13.00117301940918px;
    top: 21px;
    left: 30px;
    opacity: 1;
}

.shpwhl {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 35.734363849999px;
    left: 43px;
    opacity: 1;
}

.shpwhl2 {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 35.734363849999px;
    left: 34px;
    opacity: 1;
}

/*Your photo here*/
.yourphoto-container {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 163px;
    left: 734px;
    border-radius: 50%;
    background: transparent;
}

.my-pic {
    position: absolute;
    width: 420px;
    height: 559px;
    left: -24px;
    bottom: 0;
    object-fit: contain;
}

/*dots-makeup*/

.dots-container {
    position: absolute;
    top: -5px;
    left: 478px;
}

/*first header ends here*/

/*Secound section starts here*/

#product-section {
    position: relative;
    width: 1440px;
    height: 1550px;
    background-color: rgb(255, 254, 254);
    margin: 0 auto;
}

/*H1 ER JONNO*/
.hed-1 {
    position: absolute;
    width: 225px;
    height: 58px;
    top: 64px;
    left: 135px;
    opacity: 1;
}

.hed-1 h1 {
    position: absolute;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(54, 57, 88, 1);
}

/*jacket img section for buy*/

.card1 {
    position: absolute;
    width: 370px;
    height: 550px;
    top: 143px;
    left: 135px;
    border-radius: 20px;
    opacity: 1;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 1);
}

.imghldr {
    position: absolute;
    width: 334px;
    height: 300px;
    top: 20px;
    left: 17px;
    border-radius: 20px;
    opacity: 1;
    background-color: rgba(241, 241, 241, 1);
}

.jaket-1 {
    position: absolute;
    width: 293px;
    height: 293px;
    top: 3px;
    left: 20px;
    opacity: 1;
}

/*here a card ends*/

.card2 {
    position: absolute;
    width: 370px;
    height: 550px;
    top: 143px;
    left: 535px;
    border-radius: 20px;
    opacity: 1;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 1);
}

.jaket-2 {
    position: absolute;
    width: 203px;
    height: 273px;
    top: 18px;
    left: 68px;
    opacity: 1;
}

.prdctnm {
    position: absolute;
    top: 340px;
    left: 18px;
    font-weight: 700;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(54, 57, 88, 1);
}

.rpg123 {
    position: absolute;
    width: 299px;
    height: 52px;
    top: 380px;
    left: 15px;
    opacity: 1;
}

.rpg123 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
}

.amount1 {
    position: absolute;
    width: 84px;
    height: 42px;
    bottom: 40px;
    left: 15px;
    opacity: 1;
}

.amount1 h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(250, 190, 76, 1);
}

.buybtn-container1 {
    position: absolute;
    width: 170px;
    height: 60px;
    top: 457px;
    left: 182px;
    opacity: 1;
    border-radius: 10px;
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
}

.buy-btn1 {
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    margin-left: 20px;
    padding: 17px 25px;
}

/*shopping-tray image*/
.shp-btn {
    position: absolute;
    width: 19.36490821838379px;
    height: 13.00117301940918px;
    top: 21px;
    left: 30px;
    opacity: 1;
}

.shpwhl {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 35.734363849999px;
    left: 43px;
    opacity: 1;
}

.shpwhl2 {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 35.734363849999px;
    left: 34px;
    opacity: 1;
}

/*here a card ends*/

.card3 {
    position: absolute;
    width: 370px;
    height: 550px;
    top: 143px;
    right: 135px;
    border-radius: 20px;
    opacity: 1;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 1);
}

.jaket-3 {
    position: absolute;
    width: 210px;
    height: 257px;
    top: 19px;
    left: 62px;
    opacity: 1;
}

/*here a card ends*/

/*Mens jacket section starts here*/

.hed-2 {
    position: absolute;
    width: 225px;
    height: 58px;
    top: 820px;
    left: 135px;
    opacity: 1;
}

.hed-2 h1 {
    position: absolute;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(54, 57, 88, 1);
}

.card4 {
    position: absolute;
    width: 370px;
    height: 550px;
    top: 920px;
    left: 135px;
    border-radius: 20px;
    opacity: 1;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 1);
}

.jaket-4 {
    position: absolute;
    width: 202px;
    height: 269px;
    top: 19px;
    left: 62px;
    opacity: 1;
}

/*here a card ends*/

/*A card start here*/
.card5 {
    position: absolute;
    width: 370px;
    height: 550px;
    top: 920px;
    left: 535px;
    border-radius: 20px;
    opacity: 1;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 1);
}

.jaket-5 {
    position: absolute;
    width: 242px;
    height: 256px;
    top: 19px;
    left: 50px;
    opacity: 1;
}

/*A card start here*/

.card6 {
    position: absolute;
    width: 370px;
    height: 550px;
    top: 920px;
    right: 135px;
    border-radius: 20px;
    opacity: 1;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 1);
}

.jaket-6 {
    position: absolute;
    width: 192px;
    height: 280px;
    top: 13px;
    left: 75px;
    opacity: 1;
}

/*here a card ends*/

#total-section {
    position: relative;
    width: 1440px;
    height: 760px;
    background-color: rgb(255, 254, 254);
    margin: 0 auto;
}

/*fit-card*/

.fit-card {
    position: absolute;
    top: 120px;
    left: 135px;
    border-radius: 20px;
    opacity: 1;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 1);
}
.fit-card {
    position: relative;
    width: 489px;
    height: 135px;
}

.fit-cd, .fit-cd2, .fit-cd3 {
    position: absolute;
    width: 226px;
    height: 38px;
    top: 18px;
    left: 136px;
    opacity: 1;
}

.fit-cd h1, .fit-cd2 h1, .fit-cd3 h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(54, 57, 88, 1);
}
.paijo, .paijo2, .paijo3 {
    position: absolute;
    width: 286px;
    height: 52px;
    left: 136px;
    top: 58px;
}
.paijo p, .paijo2 p, .paijo3 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;

}
.hmimg {
    position: absolute;
    top: 24px;
    left: 16px;
    opacity: 1;
}
.himage {
    position: absolute;
    width: 78px;
    height: 82px;
}
/*cardoto 2 here*/

.fit-card2 {
    position: absolute;
    top: 140px;
    left: 135px;
    border-radius: 20px;
    opacity: 1;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 1);
}
.fit-card2 {
    position: relative;
    width: 489px;
    height: 135px;
}

/*caroto 3 here*/

.fit-card3 {
    position: absolute;
    top: 160px;
    left: 135px;
    border-radius: 20px;
    opacity: 1;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 1);
}

.fit-card3 {
    position: relative;
    width: 489px;
    height: 135px;
}

/*profoto img here*/

.profoto {
    position: absolute;
    top: 160px;
    right: 135px;
}

.profoto-img {
    width: 599px;
    height: 354.07px;
}



/*Media screen and templates*/
    @media screen and (max-width: 480px) {

        body {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        #header-1 {
            position: relative;
            width: 100%;
            height: 850px;
        }
    
        .dots-container, .dot1-pic, .navigations {
            visibility: hidden;
        }
        .png {
            top: 27px;
            left: 17px;
            width: 192.75px;
            height: 26px;
        }
    
        .pg {
            position: absolute;
            top: 105px;
            left: 17px;
            width: 312px;
            height: 144px;
        }
    
        .pg h1 {
            font-size: 60px;
            line-height: 100%;
            letter-spacing: 0%;

        }
    
        .parg1 {
            top: 229px;
            left: 17px;
            width: 295px;
            height: 52px;
        }
    
        .parg1 p {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0%;
        }
    
        .buybtn-container {
            position: absolute;
            top: 305px;
            left: 10px;
            width: 170px;
            height: 60px;
        }

        .yourphoto-container {
            position: absolute;
            top: 327px;
            left: 1px;
            background: transparent;
        }

        .my-pic {
            position: absolute;
            width: 327.05px;
            height: 457px;
            left: 39px;
        }

        #product-section, #total-section {
            box-sizing: border-box;
        }

        #product-section {
            height: 3700px;
        }

        #total-section {
            height: 1300px;
        }

        .hed-1 {
            left: 100px;
        }
        .hed-2 {
            left: 100px;
            top: 1890px;
        }

        .card1, .card2, .card3, .card4, .card5, .card6 {
            left: 23px;
        }

        .card2 {
            top: 720px;
        }
        .card3 {
            top: 1290px;
        }
        .card4 {
            top: 1970px;
        }
        .card5 {
            top: 2550px;
        }
        .card6 {
            top: 3130px;
        }
        .fit-card, .fit-card2, .fit-card3 {
            position: relative;
            top: 400px;
            left: 27px;
            height: 240px;
            width: 343px;
        }

        .fit-card2 {
            top: 430px;
        }

        .fit-card3 {
            top: 460px;
        }
        .profoto {
            position: absolute;
            left: 55px;
            top: 90px;
        }

        .profoto-img {
            width: 292.67px;
            height: 173px;
        }

        .hmimg {
            position: absolute;
            top: 24px;
            left: 139px;
            opacity: 1;
        }
        .fit-cd {
            width: 206px;
            height: 28px;
            top: 120px;
            left: 85px;
        }
        .fit-cd2 {
            width: 206px;
            height: 28px;
            top: 120px;
            left: 95px; 
        }
        .fit-cd3 {
            width: 206px;
            height: 28px;
            top: 120px;
            left: 85px;
        }
        .paijo, .paijo2, .paijo3 {
            position: absolute;
            width: 276px;
            height: 52px;
            top: 160px;
            left: 50px;
            text-align: center;
        }
        

    }
    